* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
body {
	width: 100%;
	transition: all 1s;
}

.main {
	width: 100%;
	background-image: linear-gradient(-200deg, #F5515F 0%, #9F041B 100%);
	min-height: 100%;
	position: absolute;
}

.main {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	flex-direction: row;
	margin-bottom: 18px;
	justify-content: space-around;
	min-height: 88vh;
}


.halfLeft {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	margin-left: 10%;
	max-width: 220px;
}

.halfRight {
	justify-content: flex-start;
	color: white;
	margin-top: 124px;
	width: 50%;
	padding: 10px;
}

.logo {
	background-color: white;
	padding: 16px 24px;
	width: 208px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}

.intro {
	height: 450px;
	overflow: hidden;
	margin-top: 10%;
}

.image1 img, .image2 img {
	width: 220px;
	height: auto;
}

@-webkit-keyframes slideup {
    from {margin-top: 0px}
    to {margin-top: -418px}
}

@keyframes slideup {
    from {margin-top: 0px}
    to {margin-top: -418px}
}

.image1 {
	position: relative;
	animation: slideup 20s ease 2s infinite normal;
	margin-bottom: 10%;
}

.image2 {
	position: relative;
}

.halfRight h1 {
	font-weight: bold;
}

.shortDesc {
	font-size: 18px;
	margin: 10px 0;
}

.check {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px 0;
	font-weight: bold;
}

.check img {
	width: 17px;
	height: auto;
}

.check span {
	margin-left: 10px;
}

.appstore {
	cursor: pointer;
}

.googleplay {
	cursor: pointer;
}

.downloads {
	display: flex;
	flex-direction: row;
	margin-top: 64px;
}

.downloads .googleplay {
	margin-left: 24px;
}

.mobile {
	margin-top: 50px;
}

.mobile {
	padding-left: 12px;
	width: 390px;
	outline: none;
	height: 40px;
	border-radius: 40px;
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.mobile img {
	width: 17px;
}

.mobile input {
	border: transparent;
	padding: 0 4px;
    width: 175px;
}

input:focus {
	outline: none;
}

.mobile select {
	background: none;
    outline: none;
    border: none;
}

.send {
	background-color: black;
	border-radius: 17px;
    padding: 7px 12px;
    font-size: 12px;
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
}

.footer {
	display: flex;
	align-items: center;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 60px;
	font-size: 12px;
	padding: 10px 40px;
	background-image: linear-gradient(0deg, rgba(0,0,0,0.40) 0%, rgba(0,0,0,0.00) 100%);
	color: white;
	justify-content: space-between;
	letter-spacing: 1.5px;
}

.footerpages {
	display: flex;
	align-items: center;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 60px;
	font-size: 12px;
	padding: 10px 40px;
	background-image: linear-gradient(0deg, rgba(0,0,0,0.40) 0%, rgba(0,0,0,0.00) 100%);
	color: #4A4A4A;
	justify-content: space-between;
	letter-spacing: 1.5px;
}

.links a {
	text-decoration: none;
	color: white;
	margin: 0 10px;
	font-weight: bold;
}

.icons {
	color: white;
}

.icons a {
	text-decoration: none;
}

.icons img {
	width: 17px;
	height: 17px;
	margin: 0 5px;
	cursor: pointer;
}

@media(max-width: 768px) {
	.header {
		flex-direction: column;
	}

	.halfLeft {
		margin: 0 auto;
	}

	.halfRight {
		flex-grow: 1;
		justify-content: center;
		color: white;
		width: 100%;
		margin: 20px 0;
		text-align: center;
	}

	.shortDesc {
		width: 100%;
	}

	.footer {
		flex-direction: column;
		height: 80px;
		letter-spacing: 1px;
		padding: 10px 0;
	}

	.links a {
		margin: 10px 2px;
	}

	.downloads {
		margin: 10px 0;
		justify-content: center;
	}

	.mobile {
		margin: 0 auto;
	}

	.check {
		justify-content: center;
	}

	.googleplay img, .appstore img {
		height: 44px;
		width: auto;
	}
}

.headerNav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 10px 200px;
}

.headerlinks a {
	color: #3A405B;
	text-decoration: none;
	margin-left: 15px;
	font-size: 12px;
	font-weight: bold;
}

.logoheader {
	color: #3A405B;
}

.active {
	color: #A1041C !important;
}

.content {
	width: 60%;
	min-height: 68.9vh;
	margin: 60px auto 20px auto;
	line-height: 1.2em;
}

.heading {
	font-size: 24px;
	font-weight: bold;
}

.subheading {
	margin: 24px 0;
	font-size: 16px;
	font-weight: 600;
}

.section p {
	font-size: 14px;
	margin-bottom: 16px;
}

.headingcontent {
	color: #9F9F9F;
	font-size: 11px;
	margin-bottom: 24px;
}

.accordion {
    cursor: pointer;
    padding: 11px 0;
    width: 100%;
    border: none;
    text-align: left;
    
}

.active, .accordion:hover {

}

.panel {
    display: none;
    background-color: white;
    overflow: hidden;
    font-size: 12px;
    margin-bottom: 11px;
}

.button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	cursor: pointer;
	border-top: 1px solid #E1E1E1;
}

.button:first {
	border: none;
}

.dummy {
	border-top: 1px solid #E1E1E1;
}

.button img {
	width: 20px;
	height: 20px;
}

.first {
	border: none !important;
}

@media(max-width: 1100px) {
	.content {
		width: 80%;
		margin-left: 20px;
		margin-right: 20px;
	}

	.headerNav {
		flex-direction: column;
		margin: 0;
	}

	.headerNav div {
		margin-top: 10px;
	}
}

.subcontent {
	margin-left: 20px;
}